/* -------------------- Colors -------------------- */

:root {
  --black: #000;
  --white: #FFF;
  --off_white: #F0EAE2;
  --off_white-dark: #E1DDC7;
  --gray: #696868;
  --earth: #ACA28A;
  --dark-green: #0C3915;
}

/* -------------------- Elements -------------------- */

hr {
	box-sizing: content-box;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--earth);
    margin: 1em 0;
    padding: 0;
}

.hr-section {
    border-top: 1px solid var(--off_white-dark);
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
  .hr-section {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}


/* -------------------- Base Styles -------------------- */


html {
  font-size: 62.5%;
}
body {
  font-family: 'AvenirNext', sans-serif;
  color: var(--gray);
  font-size: 2em;
  line-height: 1.6;
  background-color: var(--off_white);
  cursor: url('../images/cursor.ico'), default;
}

/* -------------------- Type -------------------- */


@font-face {
  font-family: OggText;
  src: url(../fonts/OggTextDA-Book.woff2);
}

@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNext-Regular.otf);
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'OggText', serif;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.8;
  color: var(--dark-green);
}

h2 {
  font-family: 'OggText', serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--dark-green);
}

h3 { 
  font-family: 'AvenirNext', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--gray);
}

h4 { 
  font-family: 'AvenirNext', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--gray);
  padding-bottom: 15px;
}

p {
  font-family: 'AvenirNext', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.0;
  padding-bottom: 2.5rem;
}

@media (min-width: 550px) {
  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.8rem; }
  p {  font-size: 1.6rem;}
}

@media (min-width: 768px) {
  h1 { font-size: 3.6rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.8rem; }
  p {  font-size: 1.6rem;}
}

@media (min-width: 1000px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.8rem; }
  p {  font-size: 1.6rem;}
}

@media (min-width: 1440px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 2.0rem; }
  p {  font-size: 1.8rem;}
}

@media (min-width: 2000px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 2.0rem; }
  p {  font-size: 1.8rem;}
}


/* -------------------- Links -------------------- */


a {
  color: var(--gray);
  text-decoration-color: var(--gray);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: all ease 0.1s;
}

a:hover {
  color: var(--dark-green);
  text-decoration-color: var(--dark-green);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.25em;
  transition: all ease 0.1s;
  cursor: url('../images/cursor_hover.ico'), default;
}

a.icon_button {
  padding:12px 13px 10px 13px;
  border-radius: 8px;
  background-color: var(--earth);
  color: var(--off_white);
  text-decoration: none;
}

a.icon_button:hover {
  background-color: var(--dark-green);
  transition: all ease 0.5s;
  cursor: url('../images/cursor_hover.ico'), default;
}

.block-label {
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px 20px;
  font-size: 1.5rem;
  transition: all ease 0.3s;
  font-weight: 700;
}

.disabled-wrapper {
  display: inline-block;
  cursor: not-allowed;
}

/* -------------------- Lightbox -------------------- */


.lightbox {
  /* Default lightbox to hidden */
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
  background: #000000CC;
}

.lightbox img {
  margin-top: 10%;
  max-width: 90%;
}

@media (min-width: 550px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 80%;
  }
}

@media (min-width: 750px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 70%;
  }
}

.lightbox:target {
  /* Remove default browser outline */
  outline: none;
  /* Unhide lightbox */
  display: block;
}

/* -------------------- Utilities: Spacing -------------------- */

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-s {
  padding-bottom: 1rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.img-responsive {
	width: 100%;
	height: 100%;
}

.width-100 {
  width: 100%;
}

.mt-xs {
	margin-top: 1rem;
}

.mt-s {
	margin-top: 2.5rem;
}

.mt-m {
	margin-top: 5rem;
}

.mt-l {
	margin-top: 10rem;
}

.mb-xs {
	margin-bottom: 1rem;
}

.mb-s {
	margin-bottom: 2.5rem;
}

.mb-m {
	margin-bottom: 5rem;
}

.mb-l {
	margin-bottom: 10rem;
}


/* -------------------- Utilities: Alignment -------------------- */

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-center-sm {
  text-align: center;
}

@media (min-width: 750px) {
	.text-center-sm {
	  text-align: left;
	}
}

/* -------------------- Utilities -------------------- */


.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 70%;
}

.img-fill {
  min-width:100%;
  min-height:100%;
  object-fit:cover;
}

/* -------------------- Utilities: Display -------------------- */

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}


/* -------------------- Bento Box -------------------- */

.p-l-clear {padding-left:0px;}

.p-l-clear-sm {padding-left:0px;}

.bento_h_1 {
  height: 60x;
}

.bento_h_2 {
  height: 136px;
}

.bento_h_3 {
  height: 212px;
}

.bento_h_4 {
  height: 288px;
}

.bento_h_5 {
  height: 364px;
}

.bento_h_6 {
  height: 440px;
}

.bento_content {
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  margin-top: 16px;
  display: flex;
}

@media (min-width: 550px) {
}

@media (min-width: 768px) {
  .p-l-clear-lrg {padding-left:0px;}
  .p-l-clear-sm {padding-left:15px;}
  .bento_h_1 {height: 76px;}
  .bento_h_2 {height: 168px;}
  .bento_h_3 {height: 260px;}
  .bento_h_4 {height: 352px;}
  .bento_h_5 {height: 444px;}
  .bento_h_6 {height: 536px;}
}

@media (min-width: 1000px) {
  .bento_h_1 {height: 92px;}
  .bento_h_2 {height: 200px;}
  .bento_h_3 {height: 308px;}
  .bento_h_4 {height: 416px;}
  .bento_h_5 {height: 524px;}
  .bento_h_6 {height: 632px;}
}

@media (min-width: 1440px) {
}

@media (min-width: 2000px) {
}

@media (min-width: 550px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1000px) {
}

@media (min-width: 1440px) {
}