/* -------------------- Colors -------------------- */

:root {
  --black: #23221b;
  --white: #FFF;
  --off_white: #dddacb;
  --gray-1: #757369;
  --blue: #0033FF;
  --dark-blue: #083EA7;
  --green: #17C37B;
  --dark-green: #0cb06c;
}

/* -------------------- Elements -------------------- */

hr {
	box-sizing: content-box;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--black);
    margin: 1em 0;
    padding: 0;
}

.hr-gray {
    border-top: 1px solid var(--gray-1);
}

/* -------------------- Social Bar -------------------- */

.socialbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.social-link {
  float: left;
  text-decoration: none;
}

@media (min-width: 550px) {
  .socialbar {
    top: 10px;
    left: 10px;
  }
}

.social-icon {
    background: var(--black);
    text-align: center;
    width: 50px;
    height: 48px;
    padding: 13px;
    text-decoration: none;
    color: var(--white);
    font-size: 90%;
    transition: all ease 0.3s;
}

.social-icon:hover {
    background: var(--blue);
    color: var(--white);
    transition: all ease 0.3s;
}


/* -------------------- Base Styles -------------------- */


html {
  font-size: 62.5%;
}
body {
  font-family: 'Playfair Display', serif;
  color: var(--off_white);
  font-size: 2em;
  line-height: 1.6;
  background-color: var(--black);
}

/* -------------------- Type -------------------- */


@font-face {
  font-family: OggText;
  src: url(../fonts/OggTextDA-Book.woff2);
}

@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNext-Medium.woff2);
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'OggText', serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.8;
}

h2 {
  font-family: 'OggText', serif;
  font-weight: 400;
  font-size: 2.4rem;
}

h3 { 
  font-family: 'AvenirNext', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--gray-1);
}

h4 { 
  font-family: 'AvenirNext', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--gray-1);
  padding-bottom: 15px;
}

p {
  font-family: 'OggText', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.0;
  padding-bottom: 2.5rem;
}

@media (min-width: 550px) {
  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.8rem; }
  p {  font-size: 1.6rem;}
}

@media (min-width: 768px) {
  h1 { font-size: 3.6rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.8rem; }
  p {  font-size: 1.6rem;}
}

@media (min-width: 1000px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.8rem; }
  p {  font-size: 1.6rem;}
}

@media (min-width: 1440px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 2.0rem; }
  p {  font-size: 1.8rem;}
}

@media (min-width: 2000px) {
  h1 { font-size: 3.8rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 2.0rem; }
  p {  font-size: 1.8rem;}
}

.caption {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--gray-2);
}

/* -------------------- Links -------------------- */


a {
  color: var(--off_white);
    text-decoration-color: var(--off_white);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
  transition: all ease 0.3s;
}

a:hover {
  color: var(--white);
  text-decoration-color: var(--white);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.25em;
  transition: all ease 0.3s;
}

a.button {
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px 20px;
  font-size: 1.5rem;
  transition: all ease 0.3s;
  font-weight: 700;
}

a.button:hover {
  background-color: var(--dark-blue);
  transition: all ease 0.3s;
}

.block-label {
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px 20px;
  font-size: 1.5rem;
  transition: all ease 0.3s;
  font-weight: 700;
}

a.project_link {
  text-decoration: none;
  color: var(--black);
  transition: all ease 0.3s;
}

a.project_link:hover {
  color: var(--blue);
  transition: all ease 0.3s;
}

a.project_link_disabled {
  text-decoration: none;
  color: var(--gray-1);
}

a.project_link_disabled:hover {
  color: var(--gray-1);
}

.back_btn {
  background-color: var(--black);
  width: 40px;
  height: 40px;
  text-align: center;
  transition: all ease 0.3s;
}

.back_btn:hover {
  background-color: var(--blue);
  transition: all ease 0.3s;
}

.back_arrow {
  line-height: 4rem;
  color: var(--white);
}

a.back_arrow_solo {
  text-decoration: none;
  color: var(--black);
  transition: all ease 0.3s;
}

a.back_arrow_solo:hover {
  color: var(--blue);
  transition: all ease 0.3s;
}

.disabled-wrapper {
  display: inline-block;
  cursor: not-allowed;
}

/* -------------------- Lightbox -------------------- */


.lightbox {
  /* Default lightbox to hidden */
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
  background: #000000CC;
}

.lightbox img {
  margin-top: 10%;
  max-width: 90%;
}

@media (min-width: 550px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 80%;
  }
}

@media (min-width: 750px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 70%;
  }
}

.lightbox:target {
  /* Remove default browser outline */
  outline: none;
  /* Unhide lightbox */
  display: block;
}

/* -------------------- Utilities: Spacing -------------------- */

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-s {
  padding-bottom: 1rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.img-responsive {
	width: 100%;
	height: 100%;
}

.width-100 {
  width: 100%;
}

.mt-xs {
	margin-top: 1rem;
}

.mt-s {
	margin-top: 2.5rem;
}

.mt-m {
	margin-top: 5rem;
}

.mt-l {
	margin-top: 10rem;
}

.mb-xs {
	margin-bottom: 1rem;
}

.mb-s {
	margin-bottom: 2.5rem;
}

.mb-m {
	margin-bottom: 5rem;
}

.mb-l {
	margin-bottom: 10rem;
}


/* -------------------- Utilities: Alignment -------------------- */

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-center-sm {
  text-align: center;
}

@media (min-width: 750px) {
	.text-center-sm {
	  text-align: left;
	}
}

/* -------------------- Utilities: Color -------------------- */


.text-gray-0 {
  color: var(--gray-0);
}

.text-gray-2 {
	color: var(--gray-2);
}

.text-gray-3 {
  color: var(--gray-3);
}

.text-green {
	color: var(--green);
}

.text-blue {
	color: var(--blue);
}

.text-black {
	color: var(--black);
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 70%;
}

/* -------------------- Utilities: Display -------------------- */

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}