/* -------------------- Panels -------------------- */

.hero {
  padding: 10% 5% 15%;
}

@media (min-width: 550px) {
  .hero {
    padding: 10% 10% 15%;
  }
}

.project {
  height: 0px;
  padding-top: 15%;
  padding-bottom: 65%;
  text-align: center;
}

.socialicon {
  padding-left: 15px;
  float: right;
}

#hero {
  padding: 10%;
  display: flex;
  align-items: center;
  height: 100%;
}

#dnc {
  background-color: #00AEF3;
  padding-top: 25%;
  padding-bottom: 55%;
}

#tts {
  background-color: #B5E3C4;
  padding-top: 21%;
  padding-bottom: 59%;
}

#arc {
  background-color: #000;
  padding-top: 33%;
  padding-bottom: 47%;
}

#hfa {
  background-color: #0157B8;
  padding-top: 23%;
  padding-bottom: 57%;
}

#ga {
  background-color: #FF2734;
  padding-top: 21%;
  padding-bottom: 59%;
}

#cw {
  background-color: #F8C525;
  padding-top: 23%;
  padding-bottom: 57%;
}

#hcs {
  background-color: #400EDD;
  padding-top: 18%;
  padding-bottom: 62%;
}

#cf {
  background-color: #31445E;
  padding-top: 35%;
  padding-bottom: 45%;
}

/* -------------------- Base Styles -------------------- */


html {
  font-size: 62.5%;
}
body {
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  line-height: 1.6;
  background-color: #000;
}


/* -------------------- Type -------------------- */

h1, h2, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #FFF;
  font-size: 4.0rem;
  line-height: 1.3;
  font-size: 4.0rem;
  margin-bottom: 4rem; 
}

h2 { 
  font-family: 'Open Sans', sans-serif;
  color: #5a5a5a;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 4rem; 
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #797979;
  font-size: 1.6rem;
  line-height: 1.6;
  padding-bottom: 1.6rem;
}

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 1.5rem; }
  p { font-size: 1.7rem; }
}

@media (min-width: 750px) {
  h1 { font-size: 6.0rem; }
  h2 { font-size: 1.6rem; }
  p { font-size: 1.7rem; }
}

@media (min-width: 1000px) {
  h1 { font-size: 6.5rem; }
  h2 { font-size: 1.7rem; }
  p { font-size: 1.8rem; }
}

@media (min-width: 1440px) {
  h1 { font-size: 7.0rem; }
  h2 { font-size: 1.9rem; }
  p { font-size: 1.9rem; }
}

@media (min-width: 2000px) {
  h1 { font-size: 8.0rem; }
  h2 { font-size: 2.1rem; }
  p { font-size: 2.1rem; }
}

/* -------------------- Links -------------------- */


a {
  color: #797979;
}

a:hover {
  color: #FFF;
}

a.contact {
  color: #F8C525;
  text-decoration: none;
}

a.contact:hover {
  color: #FFF;
}

.button {
  background-color: #000;
  color: #FFF;
  stroke: none;
  border: 2px solid #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 1.5rem;
  letter-spacing: .2rem;
}

.button:hover {
  background-color: #FFF;
  color: #000;
}

/* -------------------- Lightbox -------------------- */


.lightbox {
  /* Default lightbox to hidden */
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.lightbox img {
  margin-top: 10%;
  max-width: 90%;
}

@media (min-width: 550px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 80%;
  }
}

@media (min-width: 750px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 70%;
  }
}

.lightbox:target {
  /* Remove default browser outline */
  outline: none;
  /* Unhide lightbox */
  display: block;
}

/* -------------------- Utilities -------------------- */


.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

