/* -------------------- Colors -------------------- */

:root {
  --black: #000;
  --white: #FFF;
  --gray-0: #ececec;
  --gray-1: #858585;
  --gray-2: #757575;
  --gray-3: #333333;
  --blue: #0033FF;
  --dark-blue: #083EA7;
  --green: #17C37B;
}

/* -------------------- Elements -------------------- */

hr {
	box-sizing: content-box;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--gray-3);
    margin: 1em 0;
    padding: 0;
}

/* -------------------- Social Bar -------------------- */

.socialbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

@media (min-width: 550px) {
  .socialbar {
    top: 10px;
    left: 10px;
  }
}

.social-icon {
    background: var(--white);
    text-align: center;
    width: 50px;
    height: 48px;
    float: left;
    padding: 13px;
    text-decoration: none;
    color: var(--black);
    font-size: 90%;
    transition: all ease 0.3s;
}

.social-icon:hover {
    background: var(--gray-0);
    color: var(--blue);
    transition: all ease 0.3s;
}


/* -------------------- Base Styles -------------------- */


html {
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  line-height: 1.6;
  background-color: var(--white);
}

/* -------------------- Type -------------------- */

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: var(--black);
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 4rem; 
}

h2 { 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.6;
}

h3 { 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--black);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  padding-bottom: 2.6rem;
}

@media (min-width: 550px) {
  h1 { font-size: 6rem; }
  h2 { font-size: 2.3rem; }
  h3 { font-size: 1.8rem; }
  p {   font-size: 1.8rem;}
}

@media (min-width: 750px) {
  h1 { font-size: 8rem; }
  h2 { font-size: 2.4rem; }
  h3 { font-size: 1.9rem; }
  p { font-size: 1.9rem; }
}

@media (min-width: 1000px) {
  h1 { font-size: 10rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2.0rem; }
  p { font-size: 2.0rem; }
}

@media (min-width: 1440px) {
  h1 { font-size: 12rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2.0rem; }
  p { font-size: 2.0rem; }
}

@media (min-width: 2000px) {
  h1 { font-size: 12rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2.0rem; }
  p { font-size: 2.0rem; }
}

.caption {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--gray-2);
}

/* -------------------- Links -------------------- */


a {
  color: var(--blue);
  transition: all ease 0.3s;
}

a:hover {
  color: var(--dark-blue);
  transition: all ease 0.3s;
}

a.white_link {
  color: var(--gray-2);
  transition: all ease 0.3s;
}

a.white_link:hover {
  color: var(--white);
  transition: all ease 0.3s;
}

a.button {
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px 20px;
  font-size: 1.5rem;
  transition: all ease 0.3s;
}

a.button:hover {
  background-color: var(--dark-blue);
  transition: all ease 0.3s;
}

a.project_link {
  text-decoration: none;
  color: var(--gray-2);
  transition: all ease 0.3s;
}

a.project_link:hover {
  color: var(--white);
  transition: all ease 0.3s;
}

a.project_link_disabled {
  text-decoration: none;
  color: var(--gray-2);
}

a.project_link_disabled:hover {
  color: var(--gray-2);
}

.back_btn {
  background-color: var(--black);
  width: 30px;
  height: 30px;
  text-align: center;
  transition: all ease 0.3s;
}

.back_btn:hover {
  background-color: var(--blue);
  transition: all ease 0.3s;
}

.back_arrow {
  line-height: 3rem;
  color: var(--white);
}


/* -------------------- Lightbox -------------------- */


.lightbox {
  /* Default lightbox to hidden */
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.lightbox-black {
  background: #000000CC;
}

.lightbox-white {
  background: #FFFFFFE6;
}


.lightbox img {
  margin-top: 10%;
  max-width: 90%;
}

@media (min-width: 550px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 80%;
  }
}

@media (min-width: 750px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 70%;
  }
}

.lightbox:target {
  /* Remove default browser outline */
  outline: none;
  /* Unhide lightbox */
  display: block;
}

/* -------------------- Utilities: Spacing -------------------- */

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.img-responsive {
	width: 100%;
	height: 100%;
}

/* -------------------- Utilities: Alignment -------------------- */

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-center-sm {
  text-align: center;
}

@media (min-width: 750px) {
	.text-center-sm {
	  text-align: left;
	}
}

/* -------------------- Utilities: Color -------------------- */

.text-white {
	color: var(--white);
}

.text-gray-2 {
	color: var(--gray-2);
}

.text-green {
	color: var(--green);
}

.text-blue {
	color: var(--blue);
}

.text-bold {
  font-weight: 700;
}