/* -------------------- Panels -------------------- */

.left {
  background-color: #000;
  color: #fff;
  padding: 10%;
}

.right {
}

@media (min-width: 992px) {
  .left { 
    height: 100vh;
    overflow: scroll;
  }
  .right {
    height: 100vh;
    overflow: scroll;
  }
}

.project {
  height: 0px;
  padding-top: 15%;
  padding-bottom: 65%;
  text-align: center;
}

#hero {
  padding: 10%;
  display: flex;
  align-items: center;
  height: 100%;
}

#dnc {
  background-color: #00AEF3;
  padding-top: 15%;
  padding-bottom: 65%;
}

#tts {
  background-color: #B5E3C4;
  padding-top: 17%;
  padding-bottom: 63%;
}

#arc {
  background-color: #000;
  padding-top: 33%;
  padding-bottom: 47%;
}

#hfa {
  background-color: #0157B8;
  padding-top: 19%;
  padding-bottom: 61%;
}

#ga {
  background-color: #FF2734;
  padding-top: 15%;
  padding-bottom: 65%;
}

#cw {
  background-color: #F8C525;
  padding-top: 23%;
  padding-bottom: 57%;
}

#hcs {
  background-color: #400EDD;
  padding-top: 15%;
  padding-bottom: 65%;
}


/* -------------------- Base Styles -------------------- */


html {
  font-size: 62.5%;
}
body {
  background-color: #FFF;
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1.6;
  background-color: #000;
}


/* -------------------- Type -------------------- */

h1, h2, p {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #FFF;
  font-size: 4.0rem;
  line-height: 1.3;
  font-size: 4.0rem;
  margin-bottom: 4rem; 
}

h2 { 
  font-family: sans-serif;
  color: #5a5a5a;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 4rem; 
}

p {
  font-family: sans-serif;
  color: #5a5a5a;
  font-size: 1.6rem;
  line-height: 1.6;
  padding-bottom: 1.6rem;
}

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 1.5rem; }
  p { font-size: 1.7rem; }
}

@media (min-width: 750px) {
  h1 { font-size: 6.0rem; }
  h2 { font-size: 1.6rem; }
  p { font-size: 1.7rem; }
}

@media (min-width: 1000px) {
  h1 { font-size: 6.5rem; }
  h2 { font-size: 1.7rem; }
  p { font-size: 1.8rem; }
}

@media (min-width: 1440px) {
  h1 { font-size: 7.0rem; }
  h2 { font-size: 1.9rem; }
  p { font-size: 1.9rem; }
}

@media (min-width: 2000px) {
  h1 { font-size: 8.0rem; }
  h2 { font-size: 2.1rem; }
  p { font-size: 2.1rem; }
}

/* -------------------- Links -------------------- */


a {
  color: #5a5a5a;
}

a:hover {
  color: #FFF;
}

a.contact {
  color: #F8C525;
  text-decoration: none;
}

a.contact:hover {
  color: #FFF;
}


/* -------------------- Lightbox -------------------- */


.lightbox {
  /* Default lightbox to hidden */
  background: #FFF;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
}

.lightbox img {
  margin-top: 10%;
  max-width: 90%;
}

@media (min-width: 550px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 70%;
  }
}

@media (min-width: 750px) {
  .lightbox img {
    margin-top: 5%;
    max-width: 50%;
  }
}

.lightbox:target {
  /* Remove default browser outline */
  outline: none;
  /* Unhide lightbox */
  display: block;
}

/* -------------------- Utilities -------------------- */


.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

